{{#if profile}}
<section class="details details_left">
    <p class="details__elem">{{profile.firstName}}</p>
    <p class="details__elem">{{profile.lastName}}</p>
    <p class="details__elem">{{profile.age}}</p>
    <p class="details__elem">{{profile.location}}</p>
</section>
{{/if}}